<div class='text-center'>
	<button
		class='flex flex-row items-center border border-black rounded text-white hover:bg-gray-200 p-2'
		type='button'
		data-drawer-target='drawer-right-example'
		data-drawer-show='drawer-right-example'
		data-drawer-placement='right'
		aria-controls='drawer-right-example'
	>
		<img width={24} src={`../../public/bars-3.svg`} />
	</button>
</div>
