<h1 class="flex flex-col gap-4">
  <span class="text-2xl text-gray-500"> Hi, my name is</span>
  <span class="font-bold text-7xl sm:text-9xl pb-2">Martin Jordán</span>
</h1>
<h2 class="text-6xl sm:text-8xl">I love building great software.</h2>
<p class="text-xl pt-10 text-gray-700">
  I'm a software engineer focused on building frontend applications.<br /> Currently, I'm building an accessible, user-friendly
  reservations system at
  <a class="font-bold underline" target="_blank" href="https://www.reservio.com">Reservio</a>.
</p>
