---
import DrawerButton from './DrawerButton.astro';
import UnderlineAnimate from './UnderlineAnimate.astro';
import { ResumeButton } from './ResumeButton'

interface Props {
	items: Array<{ id: string; value: string }>;
}

const { items } = Astro.props;
---

<nav>
	<ul class='hidden xl:flex gap-8 items-center'>
		{
			items.map(({ id, value }) => (
				<UnderlineAnimate>
					<li>
						<a href={`#${id}`}>{value}</a>
					</li>
				</UnderlineAnimate>
			))
		}
		<ResumeButton client:only="react" />
	</ul>
	<div class='xl:hidden flex'>
		<DrawerButton />
	</div>
</nav>
