<span
	class='h-full cursor-pointer hover:before:scale-100 hover:before:origin-left relative before:w-full before:h-0.5 before:origin-right before:transition-transform before:duration-300 before:scale-x-0 before:bg-black before:absolute before:left-0 before:bottom-0'
>
	<slot />
</span>
